* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins/Poppins-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Abril';
    src: url('fonts/Abril_Fatface/AbrilFatface-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Great';
    src: url('fonts/Great_Vibes/GreatVibes-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

.font-family-poppins {
    font-family: 'Poppins', sans-serif;
}

.font-family-abril {
    font-family: 'Abril', serif;
}

.font-family-great {
    font-family: 'Great', cursive;
}
body {
    width: 100%;
    max-width: 350px;
    max-height: 100%;
    margin: 0 auto;
    position: relative;
    background-size: cover;
    overflow-x: hidden !important;
}

.background-image{
    position: absolute; 
    overflow-x: hidden !important;
    /* left: -20px; */
    z-index: -1;
}

.background-image img{
    width: 350px;
    margin-top: 40px !important;    
    margin-bottom: 100px !important;
    transform: scale(2rem);
}

.couple-names{
    width: 350px;
    position: absolute;
    top: 235px;
    text-align: center;
    /* left: 150px; */
    font-size: 42px;
    /* background-color: red; */
    color: palevioletred;
}

.couple-names span{
    display: inline-block;
    font-weight: 700;
}

.couple-names span:nth-child(1){
    text-align: left;
}

.couple-names span:nth-child(2){
    font-size: 26px;
    text-align: center;
}

.couple-names span:nth-child(3){
    text-align: right;
}

.content {
    width: 100%;
    max-width: 350px;
    position: absolute;
    top: 720px;
    /* transform: translateX(30%); */
    text-align: center;
    border-radius: 10px;
}

.content__title {
    width: 350px;
    font-size: 30px;
    line-height: 60px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 15px;
    color: palevioletred;
}

.content__text {
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 20px;
    color: palevioletred;
    font-weight: 500;
}

.content__date {
    font-size: 32px;
    font-family: 'Abril', serif;
    margin-bottom: 20px;
    color: palevioletred;
}

.content__date span {
    display: inline-block;
    padding: 5px 10px;
}

.content__timer {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: palevioletred;
    /* Timer uchun CSS aniqlang, agar kerak bo'lsa */
}

.image_2{
    width: 280px;
    position: absolute;
    z-index: -1;
    transform: translateX(100px);
    top: 1050px;
    transform: rotate(-90deg);
}
